## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [88]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [89]:
# Your code here

sample_list_1 = random.sample(range(100),80)
print(sample_list_1)
len(sample_list_1)

[99, 86, 78, 30, 80, 97, 0, 73, 49, 48, 76, 17, 98, 26, 36, 14, 94, 23, 33, 35, 56, 16, 22, 41, 70, 51, 20, 46, 60, 7, 58, 87, 77, 83, 74, 29, 43, 24, 63, 59, 37, 1, 40, 57, 6, 10, 62, 34, 85, 5, 3, 64, 42, 91, 8, 96, 84, 95, 19, 11, 4, 2, 89, 9, 32, 55, 12, 52, 27, 31, 61, 75, 25, 93, 65, 81, 18, 69, 68, 38]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [90]:
# Your code here

set1 = set(sample_list_1)
print(set1)
len(set1)

# Length keeps in 80

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 46, 48, 49, 51, 52, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 73, 74, 75, 76, 77, 78, 80, 81, 83, 84, 85, 86, 87, 89, 91, 93, 94, 95, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [91]:
# Your code here

sample_list_2 = []
while len(sample_list_2) < 80:
    sample_list_2 += random.sample(range(100),1)

print(sample_list_2)
len(sample_list_2)

[85, 34, 15, 25, 69, 71, 43, 49, 49, 50, 16, 87, 39, 8, 46, 79, 86, 86, 37, 57, 25, 49, 88, 50, 1, 24, 63, 30, 5, 76, 62, 57, 38, 54, 95, 27, 51, 57, 21, 16, 17, 75, 51, 39, 11, 51, 50, 54, 96, 38, 45, 2, 79, 32, 97, 41, 25, 64, 46, 41, 30, 78, 47, 74, 79, 56, 50, 6, 9, 5, 50, 59, 92, 45, 23, 4, 13, 92, 41, 96]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [92]:
# Your code here

set2 = set(sample_list_2)
print(set2)
len(set2)

{1, 2, 4, 5, 6, 8, 9, 11, 13, 15, 16, 17, 21, 23, 24, 25, 27, 30, 32, 34, 37, 38, 39, 41, 43, 45, 46, 47, 49, 50, 51, 54, 56, 57, 59, 62, 63, 64, 69, 71, 74, 75, 76, 78, 79, 85, 86, 87, 88, 92, 95, 96, 97}

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [93]:
# Your code here

set3 = []

for x in set1:
    if x not in set2:
        set3.append(x)
        
set3 = set(set3)
print(set3)
len(set3)

{0, 3, 7, 10, 12, 14, 18, 19, 20, 22, 26, 29, 31, 33, 35, 36, 40, 42, 48, 52, 55, 58, 60, 61, 65, 68, 70, 73, 77, 80, 81, 83, 84, 89, 91, 93, 94, 98, 99}

39

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [94]:
# Your code here

set4 = []

for x in set2:
    if x not in set1:
        set4.append(x)

set3 = set(set3)
print(set4)
len(set4)

[13, 15, 21, 39, 45, 47, 50, 54, 71, 79, 88, 92]

12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [95]:
# Your code here

set5 = []

for x in set2:
    if x  in set1:
        set5.append(x)

set5 = set(set5)
print(set5)
len(set5)

{1, 2, 4, 5, 6, 8, 9, 11, 16, 17, 23, 24, 25, 27, 30, 32, 34, 37, 38, 41, 43, 46, 49, 51, 56, 57, 59, 62, 63, 64, 69, 74, 75, 76, 78, 85, 86, 87, 95, 96, 97}

41

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [96]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
53
39
12
41

#### Create an empty set called `set6`.

In [97]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [98]:
# Your code here
set6.update(set3, set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 46, 48, 49, 51, 52, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 73, 74, 75, 76, 77, 78, 80, 81, 83, 84, 85, 86, 87, 89, 91, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [99]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [101]:
# Your code here

print(set1.issubset(set2))

print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [102]:
# Your code here

set7 = set3.union(set4,set5) 
set8 = set1.union(set2)

print(set7)
print(set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [106]:
# Your code here

print(len(set1))
set10 = set1.pop()
print(len(set1))

77
76

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [109]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for r in list_to_remove:
    set1.discard(r)
print(set1)
print(len(set1))

{7, 8, 10, 12, 14, 15, 16, 17, 18, 22, 23, 24, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 96}
61